@model BizOneShot.Light.Models.ViewModels.NoticeDetailViewModel

<script>
    $(document).ready(function () {

        //top menu
        $('.navi_all > a.navi_cs').addClass('on');

        //Cs menu
        $('#custom_leftwrap > .custom_gnbwrap > ul > li > a.gnb_notice').addClass('on');
    });

  
</script>


<div id="custom_rightwrap">
    <div class="custom_right_title02"><em>공지사항</em></div>
    <div class="tablewrap">
        <table>
            <colgroup>
                <col width="12%">
                <col width="58%">
                <col width="10%">
                <col width="20%">
            </colgroup>
            <tbody>
                <tr>
                    <th>제목</th>
                    <td class="left">@Html.Raw(Model.Subject)</td>
                    <th>등록일</th>
                    <td>@Model.RegDt.Value.ToShortDateString()</td>
                </tr>
                <tr>
                    <td colspan="4" class="read">
                        @Html.Raw(Model.RmkTxt)
                    </td>
                </tr>
                <tr>
                    <th>이전글</th>
                    <td colspan="3" class="left">
                        @if (Model.PreNoticeSn == 0)
                        {
                            @:없음
                                     }
                        else
                        {
                            @Html.ActionLink(Model.PreSubject, "NoticeDetail", new { ntcSN = Model.PreNoticeSn })
                        }
                    </td>
                </tr>
                <tr>
                    <th>다음글</th>
                    <td colspan="3" class="left">
                        @if (Model.NextNoticeSn == 0)
                        {
                            @:없음
                                     }
                        else
                        {

                            @Html.ActionLink(Model.NextSubject, "NoticeDetail", new { ntcSN = Model.NextNoticeSn })
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!--tablewrap//-->
    <div class="btnwrap center">
        <a href="@Url.Action("Notice","Cs")"><input type="button" class="list"></a>
    </div>
</div><!--custom_rightwrap//-->
