@model IPagedList<BizOneShot.Light.Models.ViewModels.ExpertCompanyViewModel>

@{
    Layout = "~/Areas/Expert/Views/Shared/_MainLayout.cshtml";
}
<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_expert01').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_CompanyList').addClass('on');
    });

    function goPage(page) {
        $('#curPage').val(page);
        $('#searchForm').submit();
    }
</script>

<div id="sub_rightwrap">
    <div class="sub_right_title specialist_01_01"><em>관리기업 현황</em></div>
    <p>&nbsp;</p>
    @using (Html.BeginForm("CompanyList", "CompanyMng", FormMethod.Post, new { area = "Expert", id = "searchForm" }))
    {
        <div class="tablewrap">
            <table>
                <!--사업명-->
                <colgroup>
                    <col width="160px" />
                    <col width="590px" />
                </colgroup>
                <tr>
                    <th>사업명</th>
                    <td class="form">
                        @Html.DropDownList("BizWorkList", ViewBag.SelectBizWorkList as SelectList, new { @class = "w130" })
                    </td>
                </tr>
                <tr>
                    <th>기업명</th>
                    <td class="form">
                        @Html.TextBox("QUERY", null, new { @class = "w150", @placeholder = "기업명을 입력하세요", @id = "QUERY" })
                    </td>
                </tr>
                <tr>
                    <th>전문분야</th>
                    @if (Session[Global.UserDetailType].Equals("T"))
                    {
                        <td>세무회계</td>
                    }
                    else if (Session[Global.UserDetailType].Equals("L"))
                    {
                        <td>법무</td>
                    }
                    else if (Session[Global.UserDetailType].Equals("W"))
                    {
                        <td>노무</td>
                    }
                    else if (Session[Global.UserDetailType].Equals("P"))
                    {
                        <td>특허</td>
                    }
                    else if (Session[Global.UserDetailType].Equals("M"))
                    {
                        <td>마케팅</td>
                    }
                    else
                    {
                        <td></td>
                    }

                </tr>
            </table>
        </div>
        <div class="btnwrap center"><button type="submit" class="search2" value="검색">검색</button></div>
        @Html.Hidden("curPage", "1")
    }
    <div class="line_dot20"></div>
    <div class="tablewrap">
        <!--목록-->
        <table class="admin_list">
            <colgroup>
                <col width="21%">
                <col width="15%">
                <col width="12%">
                <col width="12%">
                <col width="16%">
                <col width="23%">
            </colgroup>
            <tr>
                <th class="topcen">기업명</th>
                <th class="topcen">대표자명</th>
                <th class="topcen">사업자번호</th>
                <th class="topcen">담당자</th>
                <th class="topcen">전화번호</th>
                <th class="topcen">이메일</th>
            </tr>
            @if (Model == null || Model.TotalItemCount == 0)
            {
                <tr>
                    <td colspan="6" style="text-align:center;">검색 결과가 없습니다.</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*<span class="full_line">@Html.ActionLink(item.CompNm, "ComInfoDetail", new { compSn = item.CompSn })</span>*@
                            @item.CompNm
                        </td>
                        <td>@item.ComOwnNm</td>
                        <td>@item.ComRegistrationNo</td>
                        <td>@item.Name</td>
                        <td>@item.TelNo</td>
                        <td>@item.Email</td>
                    </tr>
                }
            }
        </table>
    </div><!--tablewrap//-->
    @if (Model != null && Model.TotalItemCount != 0)
    {
        @Html.Pagination("goPage", Model.PageNumber, Model.PageCount, Model.HasPreviousPage, Model.HasNextPage)
    }

</div><!--sub_rightwrap//-->