<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/common")
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="Wrapper">
        <div id="@Session[Global.UserLogo]">
            <div class="container">
                <h1><em>Biz onshot</em></h1>
            </div>
        </div><!--headerwrap//-->


        <div>
            @RenderBody()
        </div>

        <!--// footer //-->
        @RenderPage("~/Views/Shared/_Footer.cshtml")
        <!--// footer //-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
