
<div id="headerwrap">
    <div class="container">
        <h1><a href="@Url.Action("Index","Home")"><img src="/images/bi_main.png" /></a></h1>
        <div id="naviwrap">
            <div class="navi navi_all">
                @if (Session[Global.UserType] == null)//비회원
                {
                    <a href="@Url.Action("Login","Member")" class="navi01 navi_login"><em>로그인</em></a><img src="~/Images/header_bar.png" class="navibar">
                    <a href="@Url.Action("ChoiceMemberType","Member")" class="navi02 navi_join"><em>회원가입</em></a><img src="~/Images/header_bar.png" class="navibar">
                    <a href="@Url.Action("Faq","Cs")" class="navi03 navi_cs"><em>고객센터</em></a>
                }
                else
                {
                    if (Session[Global.UserType].Equals("C") || Session[Global.UserType].Equals("B"))
                    {// 기업회원
                        @RenderPage("~/Areas/Company/Views/Shared/MainTopMenuPartial.cshtml")
                    }
                    if (Session[Global.UserType].Equals("T") || Session[Global.UserType].Equals("O"))
                    {//세무/회계 회원
                        @RenderPage("~/Areas/TaxAccountant/Views/Shared/MainTopMenuPartial.cshtml")
                    }
                    if (Session[Global.UserType].Equals("S"))
                    {//SCP 관리자
                        @RenderPage("~/Areas/Manager/Views/Shared/MainTopMenuPartial.cshtml")
                    }
                }

                
            </div>
        </div><!--naviwrap//-->
    </div>
</div><!--headerwrap//-->