@model BizOneShot.Light.Models.ViewModels.JoinExpertViewModel

@{
    Layout = "~/Areas/Expert/Views/Shared/_MainLayout.cshtml";
}


<script>
    $(document).ready(function () {
        //top menu
        $('#naviwrap_biz > .navi_biz > a.navi_expert04').addClass('on');
        //Accounting menu
        $('#sub_leftwrap > .sub_gnbwrap > ul > li > a.gnb_MyInfo').addClass('on');


        $('#EMAIL_DOMAIN').bind('change', function () {
            if ($(this).val() == "") {
                $('#Email2').show("slow");
                $('#Email2').val('');
            } else {
                $('#Email2').hide("slow");
                $('#Email2').val($(this).val());
            }
            return false;
        });
    });
</script>


<div id="sub_rightwrap">
    <div class="sub_right_title biz050103"><em>내정보 수정</em></div>

    @using (Html.BeginForm("ModifyMyInfo", "Main", FormMethod.Post, new { area = "Expert", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="tablewrap">
            <table>
                <!--사업명-->
                <colgroup>
                    <col width="160px" />
                    <col width="590px" />
                </colgroup>
                <tr>
                    <th>아아디</th>
                    <td>@Model.LoginId</td>
                </tr>
            </table>
            <div class="line_dot10"></div>
            <table>
                <!--사업명-->
                <colgroup>
                    <col width="160px" />
                    <col width="590px" />
                </colgroup>
                <tr>
                    <th>사업관리기관</th>
                    <td>@Model.BizMagComName</td>
                </tr>
                <tr>
                    <th>사업명</th>
                    <td>@Model.BizWorkNm</td>
                </tr>
            </table>
            <div class="line_dot10"></div>
            <table>
                <!--구분 외-->
                <colgroup>
                    <col width="160px" />
                    <col width="590px" />
                </colgroup>
                <tr>
                    <th>구분</th>
                    <td class="form_radio">@Html.RadioButtonFor(model => model.UsrTypeDetail, "T", new { @checked = "checked" }) 세무회계<span class="empty_space"></span>@Html.RadioButtonFor(model => model.UsrTypeDetail, "L") 법무<span class="empty_space"></span>@Html.RadioButtonFor(model => model.UsrTypeDetail, "W") 노무<span class="empty_space"></span>@Html.RadioButtonFor(model => model.UsrTypeDetail, "P") 특허<span class="empty_space"></span>@Html.RadioButtonFor(model => model.UsrTypeDetail, "M") 마케팅</td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td class="form">@Html.TextBoxFor(model => model.Name, new { @class = "w240" })  @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @color = "#b94a48" })</td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td class="form">
                        @Html.DropDownListFor(model => model.TelNo1, new SelectList(
                                      new List<Object>{
                                           new { value = "02" , text = "02"  },
                                           new { value = "031" , text = "031" },
                                           new { value = "032" , text = "032" },
                                           new { value = "033" , text = "033" },
                                           new { value = "041" , text = "041" },
                                           new { value = "043" , text = "043" },
                                           new { value = "044" , text = "044" },
                                           new { value = "051" , text = "051" },
                                           new { value = "052" , text = "052" },
                                           new { value = "053" , text = "053" },
                                           new { value = "054" , text = "054" },
                                           new { value = "055" , text = "055" },
                                           new { value = "061" , text = "061" },
                                           new { value = "062" , text = "062" },
                                           new { value = "063" , text = "063" },
                                           new { value = "064" , text = "064" },
                                           new { value = "070" , text = "070" }
                                        },
                                      "value",
                                      "text",
                                       2))&nbsp;-&nbsp;@Html.TextBoxFor(model => model.TelNo2, new { @class = "w80", @title = "전화번호 중간자리" })&nbsp;
                                    -&nbsp;@Html.TextBoxFor(model => model.TelNo3, new { @class = "w80", @title = "전화번호 마지막자리" })
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰</th>
                                <td class="form">
                                    @Html.DropDownListFor(model => model.MbNo1, new SelectList(
                                      new List<Object>{
                                           new { value = "010" , text = "010"  },
                                           new { value = "011" , text = "011" },
                                           new { value = "016" , text = "016" },
                                           new { value = "017" , text = "017" },
                                           new { value = "019" , text = "019" }
                                        },
                                      "value",
                                      "text",
                                       2))&nbsp;-&nbsp;@Html.TextBoxFor(model => model.MbNo2, new { @class = "w80", @title = "휴대폰번호 중간자리" })&nbsp;-&nbsp;@Html.TextBoxFor(model => model.MbNo3, new { @class = "w80", @title = "휴대폰 번호 마지막자리" })
                                </td>
                            </tr>
                            <tr>
                                <th>이메일 주소</th>
                                <td class="form">
                                    @Html.TextBoxFor(model => model.Email1, new { @class = "w115", @title = "이메일 아이디", @maxlength = "20" })&nbsp;@@&nbsp;
                                    @Html.TextBoxFor(model => model.Email2, new { @class = "w115", @title = "이메일 도메인", @maxlength = "19" })
                                    <select id="EMAIL_DOMAIN">
                                        <option value="">직접입력</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="chol.com">chol.com</option>
                                        <option value="dreamwiz.com">dreamwiz.com</option>
                                        <option value="empal.com">empal.com</option>
                                        <option value="freechal.com">freechal.com</option>
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="hanafos.com">hanafos.com</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="hanmir.com">hanmir.com</option>
                                        <option value="hitel.net">hitel.net</option>
                                        <option value="hotmail.com">hotmail.com</option>
                                        <option value="korea.com">korea.com</option>
                                        <option value="lycos.co.kr">lycos.co.kr</option>
                                        <option value="nate.com">nate.com</option>
                                        <option value="netian.com">netian.com</option>
                                        <option value="paran.com">paran.com</option>
                                        <option value="yahoo.com">yahoo.com</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.Email1, "", new { @class = "text-danger", @color = "#b94a48" })
                                    @Html.ValidationMessageFor(model => model.Email2, "", new { @class = "text-danger", @color = "#b94a48" })
                                </td>
                            </tr>
                        </table>
            <div class="line_dot10"></div>
            <div class="join_infoinput_wrap">
                <ul><li class="mark">회사명</li><li class="info">@Html.TextBoxFor(model => model.CompNm, new { @class = "w240" })  @Html.ValidationMessageFor(model => model.CompNm, "", new { @class = "text-danger", @color = "#b94a48" })</li></ul>
                <ul><li class="mark">대표자명</li><li class="info">@Html.TextBoxFor(model => model.ComOwnNm, new { @class = "w240" })  @Html.ValidationMessageFor(model => model.ComOwnNm, "", new { @class = "text-danger", @color = "#b94a48" })</li></ul>
                <ul>
                    <li class="mark">사업자등록번호</li>
                    <li class="info">@Html.TextBoxFor(model => model.ComRegistrationNo, new { @maxlength = "10", @class = "w240", @placeholder = "-표시없이 기입해 주세요" }) @Html.ValidationMessageFor(model => model.ComRegistrationNo, "", new { @class = "text-danger", @color = "#b94a48" })</li>
                </ul>

                <ul>
                    <li class="mark">업태</li>
                    <li class="info">@Html.TextBoxFor(model => model.ComBizClass, new { @class = "w240" })  @Html.ValidationMessageFor(model => model.ComBizClass, "", new { @class = "text-danger", @color = "#b94a48" })</li>
                </ul>
                <ul>
                    <li class="mark">업종</li>
                    <li class="info">@Html.TextBoxFor(model => model.ComBizType, new { @class = "w240" })  @Html.ValidationMessageFor(model => model.ComBizType, "", new { @class = "text-danger", @color = "#b94a48" })</li>
                </ul>
                @*<ul class="long_ul">
                <li class="mark_long">업종/업태</li>
                <div class="info_long"><li class="info"><input type="text" class="w115">&nbsp;&nbsp;<input type="text" class="w115"></li><li><button type="button" class="file_add" value="업종추가"></button></li></div>
                <div class="info_long"><li class="info"><input type="text" class="w115">&nbsp;&nbsp;<input type="text" class="w115"></li><li><button type="button" class="file_add" value="업종추가"></button></li><li><button type="button" class="file_del" value="업종삭제"></button></li></div>
                <div class="info_long"><li class="info"><input type="text" class="w115">&nbsp;&nbsp;<input type="text" class="w115"></li><li><button type="button" class="file_add" value="업종추가"></button></li><li><button type="button" class="file_del" value="업종삭제"></button></li></div>
                <div class="info_long"><li class="info"><input type="text" class="w115">&nbsp;&nbsp;<input type="text" class="w115"></li><li><button type="button" class="file_add" value="업종추가"></button></li><li><button type="button" class="file_del" value="업종삭제"></button></li></div>
                <div class="info_long"><li class="info"><input type="text" class="w115">&nbsp;&nbsp;<input type="text" class="w115"></li><li><button type="button" class="file_del" value="업종삭제"></button></li></div>
            </ul>*@


                <ul>
                    <li class="mark">전화번호</li>
                    <li class="info">
                        @Html.DropDownListFor(model => model.ComTelNo1, new SelectList(
                                      new List<Object>{
                                           new { value = "02" , text = "02"  },
                                           new { value = "031" , text = "031" },
                                           new { value = "032" , text = "032" },
                                           new { value = "033" , text = "033" },
                                           new { value = "041" , text = "041" },
                                           new { value = "043" , text = "043" },
                                           new { value = "044" , text = "044" },
                                           new { value = "051" , text = "051" },
                                           new { value = "052" , text = "052" },
                                           new { value = "053" , text = "053" },
                                           new { value = "054" , text = "054" },
                                           new { value = "055" , text = "055" },
                                           new { value = "061" , text = "061" },
                                           new { value = "062" , text = "062" },
                                           new { value = "063" , text = "063" },
                                           new { value = "064" , text = "064" },
                                           new { value = "070" , text = "070" }
                                        },
                                      "value",
                                      "text",
                                       2))&nbsp;-&nbsp;@Html.TextBoxFor(model => model.ComTelNo2, new { @class = "w80", @title = "전화번호 중간자리" })&nbsp;
                                    -&nbsp;@Html.TextBoxFor(model => model.ComTelNo3, new { @class = "w80", @title = "전화번호 마지막자리" })
                                </li>
                            </ul>
                            <ul>
                                <li class="mark rowspan">주소</li>
                                <li class="info"><input type="button" class="td_post" value="우편번호">@Html.TextBoxFor(model => model.ComPostNo, new { @class = "w146" })</li>
                            </ul>
                            <ul>
                                <li class="mark"></li>
                                <li class="info">@Html.TextBoxFor(model => model.ComAddr1, new { @class = "w240" }) @Html.TextBoxFor(model => model.ComAddr2, new { @class = "w240", @placeholder = "나머지주소입력란" })</li>
                            </ul>
                        </div><!--join_infoinput_wrap//-->





                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div><!--tablewrap//-->
                            <div id="btnwrap_sub">
                                <div class="rightwrap">
                                    <button type="submit" class="save" value="저장"></button>
                                    <a href="@Url.Action("MyInfo","Main")" class="cancel2 right"><em>취소</em></a>
                                </div>
                            </div><!--btnwrap//-->
   }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div><!--sub_rightwrap//-->